*{
    margin: 0;
    padding: 0;
}
#pagina{
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    background-color: burlywood;
}
#logo{
    width: 40px;
    height: 40px;
    margin: 0px 20px;
    background-color: black;
    border-radius: 40px;
    overflow: hidden;
    float:left;
}
#logo img{
    width: 100%;
    height: 100%;
}
nav{
    width: auto;
    height: 40px;
    float:right;
    margin: 0px 10px;
    padding: 0px 10px;
}
h3{
    text-align: center;
    margin: 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(8, 73, 212);
    }
footer{
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background-color: black;

}